<mat-toolbar color="primary" class="mat-elevation-z8">

  <img class="logo" src="../../../assets/images/Logo-USDTL-Only_Large.png" alt="">

  <div class="store-room-special-request-nav" *ngIf="authService.isLoggedin() && authService.getCurrentUser().department === 'admin'">
    <a mat-button color="primary" [routerLink]="['admin', 'store-room']" style="background-color: #ffffff; font-weight: 900;">{{  dataService.getUser().department | uppercase }}</a>
  </div>
  <div class="store-room-special-request-nav" *ngIf="authService.isLoggedin() && authService.getCurrentUser().department !== 'admin'">
    <a mat-button color="primary" [routerLink]="['department', 'home']" style="background-color: #ffffff; font-weight: 900;">{{  dataService.getUser().department | uppercase }}</a>
  </div>
  <div class="admin-nav" *ngIf="isAdmin()">
    <a mat-button color="basic" [routerLink]="['admin', 'master']">MASTER INVENTORY</a>
    <a mat-button [matMenuTriggerFor]="afterMenu">INVENTORY BY DEPARTMENT</a>
    <mat-menu #afterMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['admin', 'extraction']">EXTRACTION</button>
      <button mat-menu-item [routerLink]="['admin', 'mass-spec']">MASS SPEC</button>
      <button mat-menu-item [routerLink]="['admin', 'receiving']">RECEIVING</button>
      <button mat-menu-item [routerLink]="['admin', 'store-room']">STORE ROOM</button>
      <button mat-menu-item [routerLink]="['admin', 'screening']">SCREEINING</button>
      <button mat-menu-item [routerLink]="['admin', 'rd']">R&D</button> 
      <button mat-menu-item [routerLink]="['admin', 'quality']">QUALITY</button>
    </mat-menu>
    <a mat-button color="basic" [routerLink]="['admin', 'special-request']">SPECIAL REQUEST</a>
  </div>
  <div class="extraction-nav" *ngIf="isExtraction()">
    <a mat-button color="basic" [routerLink]="['department', 'extraction-inventory']">INVENTORY</a>
  </div>
  <div class="mass-spec-nav" *ngIf="isMassSpec()">
    <a mat-button color="basic" [routerLink]="['department', 'mass-spec-inventory']">INVENTORY</a>
  </div>
  <div class="receiving-nav" *ngIf="isReceiving()">
    <a mat-button color="basic" [routerLink]="['department', 'receiving-inventory']">INVENTORY</a>
  </div>
  <div class="screening-nav" *ngIf="isScreening()">
    <a mat-button color="basic" [routerLink]="['department', 'screening-inventory']">INVENTORY</a>
  </div>
  <div class="rd-nav" *ngIf="isRd()">
    <a mat-button color="basic" [routerLink]="['department', 'rd-inventory']">INVENTORY</a>
  </div>
  <div class="special-request-nav" *ngIf="dataService.getUser() && !isAdmin()">
    <a mat-button color="basic" [routerLink]="['department', 'special-request']">SPECIAL REQUEST</a>
  </div>
  <div class="chemical-nav" *ngIf="dataService.getUser()">
    <a mat-button color="basic" [routerLink]="['chemical']">CHEMICAL</a>
  </div>
  <span class="fill-remaining-space"></span>
  <div class="signup" style="margin-right: 1em;">
    <button mat-raised-button color="warn" *ngIf="isIt()" (click)="handleSignup()">SIGN UP</button>
  </div>
  <div class="signout">
    <button mat-raised-button color="warn" *ngIf="authService.isLoggedin()" (click)="handleLogout()">SIGN OUT</button>
  </div>
</mat-toolbar>