<mat-toolbar color="accent">
    <mat-form-field appearance="standard" floatLabel="never" style="width: 20em; margin: 0 2em 0 1em;">
        <input matInput type="text" name="searchValue" [(ngModel)]="searchValue" placeholder="Search" autocomplete="off" (ngModelChange)="handleSearch($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchValue"  (click) = 'handleClearSearch()'>
            <mat-icon>close</mat-icon>
          </button>
        <mat-icon matSuffix (click) = 'handleClearSearch()' *ngIf="!searchValue" >search</mat-icon>
    </mat-form-field>
    <span class=spacer></span>
</mat-toolbar>
<ag-grid-angular 
    #agGrid
    id='extractionGrid'
    style="width: 100%; height: 85%;"
    [headerHeight]=55
    [defaultColDef] = "defaultColDef"
    class='ag-theme-alpine'
    [rowData]='rowData'
    [columnDefs]='columnDefs'
    [animateRows]="true"
    [frameworkComponents]="frameworkComponents"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]=50
    (cellValueChanged)="handleUpdate($event)"
    [context]="context"
></ag-grid-angular>
