<mat-grid-list cols="1" rowHeight="90%">
    <mat-grid-tile>
        <form class="signin-form" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline" style="width: 32em;">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required >
                    <mat-error *ngIf="resetPassword.controls['username'].errors?.required">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 32em;">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
                    <mat-error *ngIf="resetPassword.controls['password'].errors?.required">{{ getErrorMessage() }}</mat-error>
                    <mat-icon matSuffix (click)="passwordHide = !passwordHide" style="cursor: pointer;">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 32em;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="cofirm" required [type]="confirmHide ? 'password' : 'text'">
                    <mat-error *ngIf="resetPassword.controls['cofirm'].errors?.required">{{ getErrorMessage() }}</mat-error>
                    <mat-icon matSuffix (click)="confirmHide = !confirmHide" style="cursor: pointer;">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button color="primary" style="width: 25em; height: 2em; font-size: large;" type="submit" [disabled]="resetPassword.invalid">Reset</button>
            </p> 
            <div style="margin-top: 2em; color: red; width: 32em; text-align: center;">{{ loginErrorMessage }}</div>
        </form>
        
    </mat-grid-tile>
</mat-grid-list>



