.fill-remaining-space {
    flex: 1 1 auto;
  }
  .example-full-width {
    width: 100%;
  }
  .request-form-card {
    height: 30em;
  }
  .example-form {
    min-width: 150px;
    max-width: 200px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }