.spacer {
    flex: 1 1 auto;
}
.search-form {
    margin-right: 1em;
}
.mat-form-field {
    margin: 0;
    padding: 0;
}
.mat-input-wrapper{
    width:400px !important;
  }
.mat-raised-button {
    margin: 0 0.5em;
}