mat-grid-list {
    margin-top: 14em;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 4em;
    margin-bottom: 1em;
    padding: 0;
}
mat-divider {
    width: 90em;
    margin-bottom: 10em;

}
.shipping-card {
    padding: 5em;
    width: 600px;
    margin: 0;
}
mat-form-field {
    color: black;
    margin-right: 2em;
}
.matInput {
    width: 10em;
}