<form class="signin-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width: 17em;">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="forgotPasswordForm.controls['username'].errors?.required">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 17em; margin: 0">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].errors?.required">{{ getErrorMessage() }}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">email</mat-icon>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" style="width: 28em; height: 2em; font-size: large;" type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </div> 
</form>